.videoModal {
  position: absolute;
  display: flex;
  justify-content: center;
}

.cameraHole {
  position: absolute;
  top: 5px;
  width: 10px;
  height: 10px;
  border: 1.7px solid rgba(255, 255, 255, 0.779);
  border-radius: 50%;
}

.videoPlayerModal {
  padding: 15px 2px 40px 2px;
  border: 3px solid white;
  border-radius: 15px;
  background-color: black;
}

.videoPlayerCloseBtn {
  align-self: flex-start;
  position: absolute;
  bottom: 5px;
  background-color: rgba(172, 255, 47, 0.673);
  border: none;
  padding: 5px 10% 5px 10%;
  margin-bottom: 5px;
  color: white;
  font-weight: bolder;
  border-radius: 15px;
  cursor: pointer;
}

.videoPlayerCloseBtn:hover {
  background-color: rgb(153, 248, 9);
}
